@model tFX_tool.ViewModel.Register

@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>

<div>
    @using (Html.BeginForm("SaveRegistrationDetails", "User"))
    {
        <div style="color:red;">@Html.ValidationSummary()</div>
        <div class="row">
            <!--Show details are saved successfully message-->
            <div class="col-lg-12">@ViewBag.Message</div>
        </div><br />

        <div class="row">
            <div class="col-lg-2">@Html.LabelFor(a => a.Names)</div>
            <div class="col-lg-10">@Html.TextBoxFor(a => a.Names, new { @class = "form-control" })</div>
        </div><br />

        <div class="row">
            <div class="col-lg-2">@Html.LabelFor(a => a.Username)</div>
            <div class="col-lg-10">@Html.TextBoxFor(a => a.Username, new { @class = "form-control" })</div>
        </div><br />     

        <div class="row">
            <div class="col-lg-2">@Html.LabelFor(a => a.Email)</div>
            <div class="col-lg-10">@Html.TextBoxFor(a => a.Email, new { @class = "form-control" })</div>
        </div><br />

        <div class="row">
            <div class="col-lg-2">@Html.LabelFor(a => a.Password)</div>
            <div class="col-lg-10">@Html.TextBoxFor(a => a.Password, new { @class = "form-control", type = "Password" })</div>
        </div><br />
        <input type="submit" value="Register" class="btn btn-primary" />
    }

</div>

@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
