@model tFX_tool.Models.User

@{
    /**/

    ViewBag.Title = "Index";
}


<div class="jumbotron">
    <h1>tFX Tool</h1>
    <p class="lead">
        tFX tool is a free resource that aids individuals in Forex trading. It curates & gives real time feeds on sentiments / fundamental analysis,
        signals from relevant & certified FX experts. It houses an equity table, calculator, standardized formula that can be used for buying & selling in the market.
    </p>
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">learn more &raquo;</a></p>*@
</div>
<h3 align="center" style="color:brown">tFX Tools Menu link</h3>
@if (Request.IsAuthenticated)
{
    <span>welcome @Html.Encode(User.Identity.Name)</span>
}
else
{
    <p align="center" style="color:forestgreen"> @Html.ActionLink("tFX Equity Table", "Index", "Tfxtools") || @Html.ActionLink("tFX Calculator", "", "") || @Html.ActionLink("tFX Formula / Theorem", "", "") || @Html.ActionLink("About Us", "About", "Home") || @Html.ActionLink("Contact Us", "Contact", "Home")</p>

    @*<li>

            @if (request.isauthenticated)
            {

                @html.actionlink("log out", "logout", "user")
            }
            else
            {

                @html.actionlink("login", "login", "user")
            }
        </li>*@

}
<br /><br />
<h4 style="color:brown">What's tFX Equity Table?</h4>
<p style="color:blue">Equity table is a  standardized pattern that needs to be adhere to in forex market. </p>
<p style="color:blue">It relates the expected maximum lot size to be set based on the Equity (amount you </p>
<p style="color:blue"> are investing / want to invest), the pip value, the expected profit or loss value. </p>

<br /><br />

<h4 style="color:brown">What's tFX Calculator?</h4>
<p style="color:blue">tFX Calculator gives avenue to calculate TAKE PROFIT & STOP LOSS VALUES for your  </p>
<p style="color:blue">prospective trade (either a buy or sell scenario). All you need to do is input  </p>
<p style="color:blue">your desired  ratio e.g SL : TP  </p>
<p style="color:blue">your desired  ratio e.g 1 : 1  </p>
<p style="color:blue">your desired  ratio e.g 30 pips : 30 pips  </p>
<br /> <br />